
body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
}
h1{
    color: white;
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat-bold';
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat-Bold', sans-serif;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15% 7%;
}
/* Navbar */
.navbar{
    padding-bottom: 4.5rem;
    
}

.navbar-brand{
    font-family: "ubuntu";
   font-size: 2.5rem;
   font-weight: bold;
}
 
.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

/* Download button */
.button-margin{
    margin: 5% 2% 5% 0;
}
.mockup{
    position: relative;
}

/* Title image */
.title-image{
   transform: rotate(25deg);
   width:60%;
   position: absolute;
   right: 30%;

}

/* Features section */

#features{
    background-color: white;
    padding: 7% 15%;
    position: relative;  
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonials */
#testimonials{
   
    text-align: center;
    background-color: #ff4c68;
    color: white;
}

.testi-img{
    width: 10%;
 border-radius: 100%;
 margin: 20px;
}

#press{
    padding-bottom:3%;
    text-align: center;
    background-color: #ff4c68;
}

.press-img{
   
    margin: 20px 40px 50px;
    color: white;
}
.press-img:hover{
    color:#8f8f8f;
}

.carousel-item{
    padding: 7% 15%;
}

/* Pricing Section  */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing{
    padding: 3% 2%;
}

@media (max-width: 991px){
    #title{
        text-align: center;
    }
    .title-image{
        transform: rotate(0);
        position: static;
    }
}

#cta{
    background-color:#ff4c68;
text-align: center;
padding:5% 15% 4% ;
}

.cta{
    color: white;
    font-family: "montserrat-black";
font-size: 3rem;
padding: 30px;
}

.cta-btn{
    margin: 5px;
}


#footer{
    text-align: center;
    padding: 5% 15% 1%;
}
.footer{
    margin: 6px 10px 20px;
}
.footer:hover{
    color: #8f8f8f;
}